$default: #585858;
$header-inner:#436372;
$section-title: #191919;
$btn-bg: #a3bbc8;


%dmsans-400{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%dmsans-500{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 500;
}

%dmsans-700{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 700;
}

%rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 500;
}

@function max($numbers...) {
 @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
 @return m#{i}n(#{$numbers});
}



