@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
  padding: 50px 70px;
  &__inner{
    @extend %rubik-500;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo{
    display: flex;
    align-items: center;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__item-link{
    color: $header-inner;
    font-size: 15px;
    line-height: 12px;
    transition: all .3s;
    &:hover{
      color: $header-bg;
    }
  }
  &__item + .menu__item{
    margin-left: 30px;
  }
}

.user-nav{
  display: flex;
  align-items: center;
  &__img23{
    display: flex;
    margin-right: 20px;
  }
  &__link1{
    background-color: #edf1f4;
    padding: 20px;
    border-radius: 50%;
    margin-right: 20px;
    transition: all .3s;
  }
  &__link1:hover{
    background-color:#a3bbc8;
  }
  &__link2{
    position: relative;
    padding: 20px 40px;
    border-right: 1px solid #fff;
    background-color: $header-bg;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    transition: all .3s;
  }
  &__link2:hover{
    background-color:#edf1f4;
  }
  &__num1{
    position: absolute;
    top: 12px;
    right: 32px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    background-color: #fff;
  }
  &__link3{
    position: relative;
    padding: 20px 40px;
    background-color: $header-bg;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    transition: all .3s;
  }
  &__link3:hover{
    background-color:#edf1f4;
  }
  &__num2{
    position: absolute;
    width: 16px;
    height: 16px;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    top: 12px;
    right: 32px;
  }
  &__link4{
    background-color: #fff;
    border-radius: 50%;
    padding: 18px 18px 12px;
    background-color:#edf1f4;
    transition: all .3s;
    path{
      fill:#000;
      fill-rule: evenodd;
    }
  }
  &__link4:hover{
    background-color:#a3bbc8;
    path{
        fill: #fff;
    }
  }
}

.footer{
  &__top{
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
    border-bottom: 1px solid #a3bbc8;
  }
  &__logo{
    display: flex;
    margin-bottom: 25px;
  }
}

.footer-item{
  @extend %rubik-400;
  line-height: 32px;
  font-size: 14px;
  & a{
    color: $default;
  }
  & a:hover{
    opacity: .5;
  }
  &__adress{
    line-height: 24px;
    margin-bottom: 15px;
  }
  &__phone{
    margin-bottom: 15px;
  }
  &__email{
    margin-bottom: 15px;
  }
  &__title{
    @extend %dmsans-700;
    color: #1f2044;
    font-size: 16px;
    line-height: 21px;
    margin-top: 30px;
    margin-bottom: 25px;
    text-transform: uppercase;
  }
  &__list{
    margin-bottom: 15px;
  }
  &__text{
    max-width: 240px;
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 24px;
  }
}

.footer-form{
  &__email{
    padding: 12px 15px;
    border:none;
    background-color: #fef7f0;
    color: #234969;
    &::placeholder{
      font-size: 12px;
      color: #234969;
    }
  }
  &__btn{
    border: none;
    background-color: $btn-bg;
    cursor: pointer;
    padding: 16px 18px;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    @extend %dmsans-400;
    &:hover{
      opacity: .8;
    }
  }
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  padding: 32px 5px 35px;
  &__help{
    font-size: 14px;
    line-height: 32px;
  }
  &__link{
    color: $default;
    line-height: 32px;
    font-size: 14px;
    border-left: 1px solid #7b7b7b;
    padding-left: 15px;
    padding-right: 15px;
    &:first-child{
      border-left: none;
    }
    &:hover{
      opacity: .5;
    }
  }
}

.slider{
  background-color: $header-bg;
  padding: 80px 0 35px;
}

.slider-item{
  display: flex !important;
  align-items: center;
  justify-content: space-around;
  &__title{
    font-size: 72px;
    line-height: 72px;
    color: #243f4d;
    max-width: 430px;
    margin-bottom: 42px;
    text-transform: uppercase;
  }
  &__text{
    font-size: 18px;
    margin-bottom: 42px;
    max-width: 380px;
  }
  &__link{
    font-size: 15px;
    line-height: 12px;
    color: #fff;
    background-color: $btn-bg;
    padding: 25px 75px 25px 25px;
    position: relative;
    &:hover{
      opacity: .6;
    }
    &::after{
      content: '';
      position: absolute;
      right: 25px;
      top: 30px;
      width: 22px;
      height: 9px;
      background-image: url(../images/icons/arrow-right.svg);
      background-repeat: no-repeat;
    }
  }
}

.slick-dots{
  display: flex;
  justify-content: center;
  li{
    padding: 0 12px;
    button{
      padding: 0;
      font-size: 10.88px;
      line-height: 8.7px;
      background-color: #fde3cc;
      cursor: pointer;
      border: none;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      position: relative;
    }
  }
  .slick-active{
    button{
      background-color: #fff;
    }
  }
}

.extra{
  padding: 45px 0;
  background-color: #fef7f0;
}
.extra-items{
  display: flex;
  justify-content: space-around;
}
.extra-item{
  max-width: 286px;
  &__subtitle{
    font-size: 18px;
    line-height: 40px;
    @extend %dmsans-700;
  }
  &:nth-child(1){
    position: relative;
    padding-left: 71px;
  }
  &:nth-child(1)::before{
    background-image: url(../images/icons/extra-icon1.svg);
    position: absolute;
    content: '';
    width: 51px;
    height: 53px;
    top: 10px;
    left: 0;

  }

  &:nth-child(2){
    position: relative;
    padding-left: 74px;
  }
  &:nth-child(2)::before{
  background-image: url(../images/icons/extra-icon2.svg);
    position: absolute;
    content: '';
    width: 54px;
    height: 36px;
    top: 10px;
    left: 0;
  }
  
  &:nth-child(3){
    position: relative;
    padding-left: 74px;
  }
  &:nth-child(3)::before{
    background-image: url(../images/icons/extra-icon3.svg);
    position: absolute;
    content: '';
    width: 54px;
    height: 52px;
    top: 10px;
    left: 0;
  }
}

.products{
  padding: 75px 0 120px;
  &__title{
    margin-bottom: 30px;
  }
}

.products-filter{
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  &__btn{
    border: none;
    background-color: transparent;
    padding: 5px 5px;
    cursor: pointer;
    margin: 0 20px;
    &:hover{
      color: $btn-bg;
    }
  }
}

.products-content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 35px;
  text-align: center;
}

.products-item{
  position: relative;
  max-width: 270px;
  padding: 25px 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  &:hover{
    transform: scale(1.1);
    transition: all .5s;
  }
  &:nth-child(3){
    padding: 70px 0 0;
  }
  &:nth-child(4){
    padding: 100px 0 0;
  }
  &:nth-child(7){
    padding: 30px 0 0;
  }
  &:nth-child(8){
    padding: 45px 0 0;
  }
  &__img{
    display: inline;
  }
  &__icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateY(200px);
    transition: all .6s;
    &:hover{
      transform: translateY(0);
    }
  }
  &__icon:nth-child(1),
  &__icon:nth-child(2),
  &__icon:nth-child(3){
    background-color: #243f4d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }
  &__icon:nth-child(2){
    background-color: $btn-bg;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }

  &__icon:nth-child(1):hover,
  &__icon:nth-child(2):hover,
  &__icon:nth-child(3):hover{
    opacity: .7;
  }
  &__name{
    line-height: 40px;
    @extend %dmsans-500;
    color: #243f4d;
  }
  &__cost{
    line-height: 40px;
    color: $btn-bg;
    @extend %dmsans-700;
  }
}

.lamp-items{
  display: flex;
  justify-content: space-between;
}

.lamp-item{
  padding: 0 50px;
  display: flex;
  align-items: center;
  background-color: #feefe2;
  &__img{
    transform: translateY(-95px);
    margin-right: 20px;
  }
  &__title{
    font-size: 26px;
    line-height: 32px;
    color: #243f4d;
    max-width: 250px;
    margin-bottom: 20px;
  }
  &__desc{
    max-width: 400px;
    margin-bottom: 20px;
  }
  &__link{
    color: #436372;
    font-size: 15px;
    line-height: 12px;
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 15px 85px 15px 15px;
    position: relative;
    &::after{
    content: '';
    position: absolute;
    right: 25px;
    top: 20px;
    width: 22px;
    height: 9px;
    background-image: url(../images/icons/arrow-right-black.svg);
    background-repeat: no-repeat;
    }
    &:hover{
      background-color: #fff;
    }
  }
}

.design{
  padding: 75px 0 80px;
  &__title{
    margin-bottom: 30px;
  }
}

.design-filter{
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  &__btn{
    border: none;
    background-color: transparent;
    padding: 5px 5px;
    cursor: pointer;
    margin: 0 20px;
    &:hover{
      opacity: .5;
    }
  }
}

.design-content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.design-item{
  height: 246px;
  width: 370px;
  max-width: 100%;
  position: relative;
  &:hover{
    transform: scale(1.1);
    transition: all .5s;
  }
  &:nth-child(1){
    background-image: url(../images/design/1.jpg);
  }
  &:nth-child(2){
    background-image: url(../images/design/2.jpg);
  }
  &:nth-child(3){
    background-image: url(../images/design/3.jpg);
  }
  &:nth-child(4){
    background-image: url(../images/design/4.jpg);
  }
  &:nth-child(5){
    background-image: url(../images/design/5.jpg);
  }
  &:nth-child(6){
    background-image: url(../images/design/6.jpg);
  }
  &__title{
    max-width: 180px;
    font-size: 20px;
    @extend %dmsans-700;
    margin-bottom: 15px;
    color: $section-title;
    position: absolute;
    left: 35px;
    top: 35px;
  }
  &__model{
    position: absolute;
    left: 35px;
    top: 100px;
    & a{
      color: $btn-bg;
      @extend %dmsans-700;
    }
    & a:hover{
      color: $header-inner;
    }
  }
}

.video{
  background-image: url(../images/video-bg.jpg);
  background-repeat: no-repeat;
  height: 501px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__play{
    transition: all .8s;
  }
  &__play:hover{
    transform: rotate(360deg);
  }
}

.rooms{
  padding-top: 110px;
  &__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
  }
  &__content{
    display: flex;
    justify-content: space-between;
  }
  &__bottom{
    padding: 270px 100px 100px;
    margin-bottom: -200px;
    background-color: #fef7f0;
    transform: translateY(-200px);
    z-index: -1;
  }
  &__title{
    font-size: 36px;
    @extend %dmsans-700;
    color: $section-title;
    text-align: left;
  }
  &__more{
    position: relative;
    @extend %dmsans-700;
    color: $section-title;
    &::after{
      content: '';
      position: absolute;
      background-image: url(../images/icons/rooms-arrow.svg);
      width: 6px;
      height: 11px;
      right: -20px;
      top: 10px;
    }
    &:hover{
      opacity: .6;
    }
  }
}

.rooms-item{
  background-color: #fff;
  max-width: 370px;
  position: relative;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  z-index: 2;
  &__img{
    transition: all .4s;
  }
  &__img:hover{
    border-radius: 20px;
    transform: scale(1.05);
  }
  &__link{
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    padding: 5px 30px;
    background-color: $btn-bg;
    border-radius: 30px;
    position: absolute;
    top: 235px;
    left: 25px;
    &:hover{
      opacity: .8;
    }
  }
  &__text{
    margin-top: 30px;
    font-size: 18px;
    color: $section-title;
    @extend %dmsans-700;
    padding-bottom: 20px;
    margin-left: 15px;
    border-bottom: 1px solid #e0e0e0;
  }
  &__add{
    display: flex;
    margin: 0 15px;
    padding: 10px 0;
  }
  &__data,
  &__by{
    color: $section-title;
    font-size: 12px;
    line-height: 30px;
    @extend %dmsans-700;
  }
  &__data{
    margin-right: 25px;
  }
}

.rooms-partners{
  display: flex;
  justify-content: space-around;
}







@import 'media';
